"use strict";

var config = {}

// REQUIRED:

// Name of the output CSV file
config.outputFile = 'outputFile.csv';

// The path that the process will write the CSV file to. Make sure the 'kibana' 
// user has write permissions to this folder and no trailing slash
config.outFolderPath = '/';

// OPTIONAL:

// Elasticsearch host url
// config.url = 'http://example.com';

// Elasticsearch basic authentication in the form of username:password
// config.auth = 'username:password';

// BOX:

// OAuth application credentials
// config.oauthClientId = 'xxx';
// config.oauthClientSecret = 'xxx';

// Redirect URI
// config.redirectURI = 'url';

// Auth redirect path: After saving the Box token, path to redirect to
// config.authRedirectPath = '/app/kibana#/discover';

// Logo to display in Box folder picker
// config.logoUrl = 'url';

module.exports = config;